body{
	background-image: url("homebg.jpg");
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	margin: 10px auto ;
	width: 72%

}
.header {
	background-color: #D0D5F7;
	opacity: 0.92;
	text-align: left;
	height: 80%;
	font-family: "Lucida Handwriting";
	font-size: 40px;
	align-items: center;
	margin: 0 auto ;
	padding: 20px 5px 20px 5px;
	color: #4B0082;
	
}

.navbar {
	background-color: #333;;
	opacity: 0.99;
	margin: 0 auto;
	height: 80%;
	padding: 0px 5px;
	color: #4B0082;
	font-family: "Lucida Handwriting";
	font-size: 20px;
	
}

.navbar ul {
  margin: 0 auto;
  padding: 0px 20px;
  list-style-type: none;
  overflow: hidden;
  background-color: #333;
}

.navbar li {
	float: right;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #111;
}
.active {
  background-color: #000000;

}
footer {
	background-color: #D0D5F7;
	opacity: 0.92;
	text-align: center;
	height: 50%;
	font-family: "Lucida Handwriting";
	font-size: 18px;
	margin-top: 75px;
	padding: 20px;
	color: #4B0082;
}

.projects{ 
	background-color: rgba(208, 213, 247, 0.92);
	margin: 75px auto 30px auto;
	padding: 50px 30px 100px 30px;
	height: 200%;
	font-family: "Arial";
	font-size: 18px;
  align-content: center;
}

.project-flex {
		display: flex;

}

.left{
	display: inline-block;
	margin-bottom: 20px;
	margin-left: auto;
    
}

.right {
	display: inline-block;
	margin-right: auto;
}

.collapsible {
  background-color: #777;
  color: white;
  padding: 18px;
  width: 100%;
  text-align: center;
  font-size: 15px;
  display: flex;

}

.active, .collapsible:hover {
  background-color: #555;
}

.info {
  overflow: hidden ;
  display: none;
  background-color: #f1f1f1;
  padding: 0px 10px 0px 10px;

}

.left{
	padding-right: 10px;
	display: block;
}

.right {
	padding-left: 10px;
	display: block;
}

h4, h5 {
	line-height: 0.2px;
}

.images {
	display: inline-flex;
}

img {
	width: 500px;
	height: 300px;
	padding-top: 20px;
}
